$primary-color: #4CAF50;
$secondary-color: #2196F3;
$light-bg: #dc0000;

body {
    font-family: Arial, sans-serif;
    background-color: $light-bg;
}


section {
    h2 {
        margin-bottom: 15px;
        color: $primary-color;
    }
}

button.btn-success:hover {
    background-color: darken(red, 100%);
}